ArtMuseumAPI/bin/Debug/net9.0/ArtMuseumAPI.exe
ArtMuseumAPI/bin/Debug/net9.0/ArtMuseumAPI.dll
ArtMuseumAPI/bin/Debug/net9.0/ArtMuseumAPI.pdb
.vs/ArtMuseumAPI/FileContentIndex/63bd89b2-6b81-4379-829f-2ed44e419880.vsidx
*.editorconfig
*.info
*.cache
*.cache
*.cs
.vs/ArtMuseumAPI/FileContentIndex/9b8a74bb-2475-4655-b450-06a2ca53d47f.vsidx
.vs/ArtMuseumAPI/FileContentIndex/34d018ed-3724-4fbe-9c3e-a6d783a0a8a8.vsidx
.vs/ArtMuseumAPI/FileContentIndex/0d8f9818-895c-4bc4-a466-215e6a8d15a0.vsidx
.vs/ArtMuseumAPI/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/ArtMuseumAPI/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/ArtMuseumAPI/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/ArtMuseumAPI/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/ArtMuseumAPI/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
ArtMuseumMigrationneo4js/obj/rider.project.restore.info
ArtMuseumMigrationneo4js/obj/Debug/net9.0/ArtMuseumMigrationneo4js.AssemblyInfo.cs
ArtMuseumMigrationneo4js/obj/Debug/net9.0/ArtMuseumMigrationneo4js.AssemblyInfoInputs.cache
